
.character .wrap {
	position: relative;
	display: block;
	overflow: hidden;
	width: 100%;
	min-width: 1000px;
	height: 100%;
	margin: 0 auto;
	z-index: 0;
}
.character .contents {
	position: relative;
	width: 100%;
	margin: 0 auto;
}

.character .active img {
	opacity: 0;
}

/* chara01 */
.character .mainCharaArea .chara01 {
	position: relative;
	width: 100%;
	height: 700px;
background:url(/try/character/chara_bg01.png) 50% 0 no-repeat;
	z-index: 1;
}
.character .mainCharaArea .chara01 .chara2d {
	position: absolute;
	width: 100%;
	height: 700px;
	top: 0;
background:url(img src="/try/character/trim_after_training (1).png") 50% 0 no-repeat;
}
.character .mainCharaArea .chara01 .text {
	position: absolute;
	width: 100%;
	height: 700px;
	top: 0;
background:url(img src="/try/character/1593180161_931988.png") 50% 0 no-repeat;
}
/* chara02 */
.character .mainCharaArea .chara02 {
	position: relative;
	width: 100%;
	height: 700px;
	background:url(/try/character/chara_bg01.png) 50% 0 no-repeat;
	z-index: 1;
	top: -30px;
}
.character .mainCharaArea .chara02 .chara2d {
	position: absolute;
	width: 100%;
	height: 700px;
	top: 0;
	background:url(/try/character/trim_after_training (2).png) 50% 0 no-repeat;
}
.character .mainCharaArea .chara02 .text {
	position: absolute;
	width: 100%;
	height: 700px;
	top: 0;
	background:url(/try/character/1593180279_163796.png) 50% 0 no-repeat;
}
/* chara03 */
.character .mainCharaArea .chara03 {
	position: relative;
	width: 100%;
	height: 700px;
	background:url(/try/character/chara_bg01.png) 50% 0 no-repeat;
	z-index: 1;
	top: -50px;
}
.character .mainCharaArea .chara03 .chara2d {
	position: absolute;
	width: 100%;
	height: 700px;
	top: 0;
	background:url(/try/character/trim_normal.png) 50% 0 no-repeat;
}
.character .mainCharaArea .chara03 .text {
	position: absolute;
	width: 100%;
	height: 700px;
	top: 0;
	background:url(/try/character/1593180062_906479.png) 50% 0 no-repeat;
}

/* chara04 */
.character .mainCharaArea .chara04 {
	position: relative;
	width: 100%;
	height: 700px;
	background:url(/try/character/chara_bg01.png) 50% 0 no-repeat;
	z-index: 1;
	top: -90px;
}
.character .mainCharaArea .chara04 .chara2d {
	position: absolute;
	width: 100%;
	height: 700px;
	top: 0;
	background:url(/try/character/trim_after_training.png) 50% 0 no-repeat;
}
.character .mainCharaArea .chara04 .text {
	position: absolute;
	width: 100%;
	height: 700px;
	top: 0;
	background:url(/try/character/1593180401_733213.png) 50% 0 no-repeat;
}
/* chara05 */
.character .mainCharaArea .chara05 {
	position: relative;
	width: 100%;
	height: 700px;
	background:url(/try/character/chara_bg01.png) 50% 0 no-repeat;
	z-index: 1;
	top: -90px;
}
.character .mainCharaArea .chara05 .chara2d {
	position: absolute;
	width: 100%;
	height: 700px;
	top: 0;
	background:url(/try/character/trim_after_training (3).png) 50% 0 no-repeat;
}
.character .mainCharaArea .chara05 .text {
	position: absolute;
	width: 100%;
	height: 700px;
	top: 0;
	background:url(/try/character/1593180620_341436.png) 50% 0 no-repeat;
}

.character .motion {
	opacity: 0;
	-webkit-transition: all .6s ease;
	-moz-transition: all .6s ease;
	-ms-transition: all .6s ease;
	transition: all .6s ease;
}
.character .motion .text {
	opacity: 0;
	top: 20px;
	-webkit-transition: all .6s ease;
	-moz-transition: all .6s ease;
	-ms-transition: all .6s ease;
	transition: all .6s ease;
	-webkit-transition-delay: 200ms;
	-moz-transition-delay: 200ms;
	-ms-transition-delay: 200ms;
	transition-delay: 200ms;
}
.character .motion .chara2d {
	opacity: 0;
	margin-left: 60px;
	-webkit-transition: all .6s ease;
	-moz-transition: all .6s ease;
	-ms-transition: all .6s ease;
	transition: all .6s ease;
	-webkit-transition-delay: 500ms;
	-moz-transition-delay: 500ms;
	-ms-transition-delay: 500ms;
	transition-delay: 500ms;
}


.character .chara01 .chara2d,
.character .chara03 .chara2d {
	margin-left: -60px;
}

.character .fadeInDown {
	opacity: 1;
}
.character .fadeInDown .text {
	opacity: 1;
	top: 0;
}
.character .fadeInDown .chara2d {
	opacity: 1;
	margin-left: 0;
}
.character .fadeInDown .img {
	opacity: 1;
	right: 0;
}


.character .subCharaArea {
	display: none;
	padding:40px 0 60px;
}
.character .subCharaArea ul {
	width: 100%;
	margin:0 auto;
	text-align: center;
}
.character .subCharaArea li {
	display: inline-block;
}

